[submodule "submodules/romkatv/powerlevel10k"]
	path = submodules/romkatv/powerlevel10k
	url = git://github.com/romkatv/powerlevel10k.git
[submodule "submodules/Aloxaf/fzf-tab"]
	path = submodules/Aloxaf/fzf-tab
	url = git://github.com/Aloxaf/fzf-tab
[submodule "submodules/zdharma/fast-syntax-highlighting"]
	path = submodules/zdharma/fast-syntax-highlighting
	url = git://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "submodules/zsh-users/zsh-autosuggestions"]
	path = submodules/zsh-users/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule "submodules/zsh-users/zsh-completions"]
	path = submodules/zsh-users/zsh-completions
	url = git://github.com/zsh-users/zsh-completions
