[submodule "submodules/romkatv/powerlevel10k"]
	path = submodules/romkatv/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
[submodule "submodules/Aloxaf/fzf-tab"]
	path = submodules/Aloxaf/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
	shallow = true
[submodule "submodules/zdharma-continuum/fast-syntax-highlighting"]
	path = submodules/zdharma-continuum/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
	shallow = true
[submodule "submodules/zsh-users/zsh-autosuggestions"]
	path = submodules/zsh-users/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
[submodule "submodules/zsh-users/zsh-completions"]
	path = submodules/zsh-users/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
	shallow = true
[submodule "submodules/marlonrichert/zsh-autocomplete"]
	path = submodules/marlonrichert/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
