#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[colors]
# Highlight hunks with background
"diff removed token" = { bg = "#221111", underline = false }
"diff added token" = { bg = "#002200", underline = false }

[git]
# Prevent pushing work in progress or anything explicitly labeled "private"
private-commits = "description(glob:'wip:*') | description(glob:'private:*')"

sign-on-push = true

[revsets]
log = '@ | ancestors(trunk()..(visible_heads() & mine()), 2) | ancestors(trunk(), 3)'

[signing]
behavior = "keep"
backend = "gpg"
key = "E66553CDA84B4D5D993F33BC28920B00DDE65894"

[templates]
git_push_bookmark = '"bfeehan/jj/push-" ++ change_id.short()'
log = "builtin_log_oneline"

[ui]
default-command = [
    "util", "exec", "--", "bash", "-c",
    "jj st --no-pager --color=always | tac | tail -n +3 | tac && echo && jj log --no-pager",
]

[user]
name = "Brad Feehan"
email = "git@bradfeehan.com"
