#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[aliases]
log-single = [
    "log",
    "--no-graph",
    "--template", "log_last(self)",
    "--stat",
    "--limit", "1",
    "--ignore-working-copy",
    "--color", "always",
]

last = ["log-single", "--revisions", "@-"]
this = ["log-single", "--revisions", "@"]

status-log = [
    "util", "exec", "--", "bash", "-c",
    '''jj st --no-pager --color=always \
        | awk '{ line[NR%3] = $0; if (NR > 2) print line[(NR-2)%3] }' \
        && echo \
        && jj log --template builtin_log_oneline --no-pager''',
]

# find the closest bookmark, and then move it to the closest pushable commit
tug = ["bookmark", "move", "--from", "heads(::@ & bookmarks())", "--to", "closest_pushable(@)"]

[colors]
# Highlight hunks with background
"diff removed token" = { bg = "#221111", underline = false }
"diff added token" = { bg = "#002200", underline = false }
"git_head" = { fg = 'blue', bold = true }
"git_tag" = { fg = 'yellow', bold = true }
"remote_bookmark" = { fg = 'red', bold = true }
"custom_timestamp_local timestamp" = { fg = '#111111', bold = false }
"custom_timestamp_local" = { fg = '#111111', bold = false }
"custom_timestamp_relative" = { fg = 'blue', bold = true }

[git]
# Prevent pushing work in progress or anything explicitly labeled "private"
private-commits = "description(glob:'[wip] *') | description(glob:'wip:*') | description(glob:'private:*')"

sign-on-push = true

[revset-aliases]
'closest_pushable(to)' = '''heads(
  ::to
  & mutable()
  & ~(description(exact:"") | description(glob:'[wip] *') | description(glob:'wip:*') | description(glob:'private:*'))
  & (~empty() | merges())
)'''

[revsets]
log = '@ | ancestors(trunk()..(visible_heads() & mine()), 2) | ancestors(trunk(), 3)'

[signing]
behavior = "keep"
backend = "gpg"
key = "E66553CDA84B4D5D993F33BC28920B00DDE65894"

[templates]
# Add the git diff to the end of the commit description draft
draft_commit_description = '''
  concat(
    coalesce(description, default_commit_description, "\n"),
    surround(
      "\nJJ: This commit contains the following changes:\n", "",
      indent("JJ:     ", diff.stat(72)),
    ),
    "\nJJ: ignore-rest\n",
    diff.git(),
  )
'''
git_push_bookmark = '"bfeehan/jj/push-" ++ change_id.short()'
log = "builtin_log_oneline"

[template-aliases]
description_placeholder = '''
label("description placeholder", "(no desc.)")
'''

# Include relative time in all timestamps
'format_timestamp(timestamp)' = '''
label("custom_timestamp_relative", timestamp.ago())
++ label("custom_timestamp_local", " (" ++ timestamp.local().format("%Y-%m-%d %H:%M:%S") ++ ")")
'''

# Avoid nested brackets with the timestamp in author details
'format_detailed_signature(signature)' = '''
  coalesce(signature.name(), name_placeholder)
  ++ " <" ++ coalesce(signature.email(), email_placeholder) ++ ">"
  ++ " " ++ format_timestamp(signature.timestamp())'''

# A custom log template for the "last" alias
'log_last(commit)' = '''
concat(
  "change " ++ commit.change_id() ++ "\n",
  "commit " ++ commit.commit_id() ++
  surround(
    " (", ")",
    separate(", ",
      if(commit.git_head(), label("git_head", "git_head()")),
      commit.tags().map(|tag| label("git_tag", "tag: " ++ tag)),
      commit.local_bookmarks().map(|bookmark| label("local_bookmark", bookmark)),
      commit.remote_bookmarks()
        .filter(|bookmark| bookmark.remote() != "git")
        .map(|bookmark| label("remote_bookmark", bookmark)),
      commit.remote_bookmarks()
        .filter(|bookmark| bookmark.remote() == "git")
        .map(|bookmark| label("git_ref", bookmark)),
    )
  ),
  "\n",

  "Author: " ++ format_detailed_signature(commit.author()) ++ "\n",
  if(config("ui.show-cryptographic-signatures").as_boolean(),
    "Signature: " ++ format_detailed_cryptographic_signature(commit.signature()) ++ "\n"),
  "\n",
  indent("    ",
    if(commit.description(),
      commit.description().trim_end(),
      label(if(commit.empty(), "empty"), description_placeholder)) ++ "\n"),
  "\n",
)
'''

[ui]
default-command = ["status-log"]
diff-editor = ":builtin"

[user]
name = "Brad Feehan"
email = "git@bradfeehan.com"

[[--scope]]
--when.hostnames = ["BFEEHAN-M-FQPD"]

[--scope.user]
email = "bfeehan@cisco.com"
